@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Lato&display=swap');

html { box-sizing: border-box; }
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}
.App{
  width: 1000px;
}

body {
	margin: 0;
	padding: 20px;
	font: 18px/1.5 sans-serif;
	background-color: white;
	color: black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
h2{
  text-align: center;
  margin-top: 60px;
  color: rgb(6, 42, 100);
  font-size: 36px;
}
h4 {
	font-size: 36px;
}
/* Uvod */
.text{
  width: 1000px;
  margin: 20px;
  color: rgb(138, 177, 245);
  
}
.container_uvod{
  display: flex;
  justify-content: center;
  align-items: center;
}
